/* Custom Properties */
:root {
  /* Colors */
  --primary-color-300: #00a2e2;
  --primary-color-400: #0291c9;
  --primary-color-500: #016e9a;
  --primary-color-600: #02516f;
  --white: #fff;
  --black: #000;
  --gray-300: #f7f7f9;
  --gray-400: #c1c7d0;
  --gray-500: #b3bac5;
  --gray-600: #7a869a;
  --gray-700: #5e6c84;
  --gray-800: #253858;

  /* Fonts */
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

button {
  background-color: rgb(246, 250, 253);
  padding: 0.25rem 1rem;
  border: 4px solid #000;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
  width: max-content;
  font-weight: 900;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}

button:active {
  transform: translateY(3px);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  padding: 2rem 0;
}

.page-title {
  font-size: 4rem;
}

.main .container {
  display: flex;
  gap: 4rem;
}

.scores-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 44rem;
  width: 65vw;
}

.scores__header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  min-width: max-content;
}

.scores__title {
  font-size: 2rem;
}

.scores__refresh-btn:hover {
  background-color: rgb(251, 180, 110);
}

.scores__table {
  border: 4px solid #000;
}

.scores__table__row {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.0625rem;
}

.scores__table__row:nth-child(even) {
  background-color: #ddd;
}

.add-score-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-score__title {
  font-size: 2rem;
}

.add-score__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
}

.add-score__form__label {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
  background-color: #fff;
}

.add-score__form__input {
  border: 4px solid #000;
  padding: 0.5rem;
  min-width: 20rem;
}

.add-score__form__btn:hover {
  background-color: rgb(135, 237, 121);
}
