/* Custom Properties */
:root {
  /* Colors */
  --primary-color-200: #a2e4ff;
  --primary-color-300: #6bcdf4;
  --primary-color-400: #3ebdef;
  --primary-color-500: #00a2e2;
  --primary-color-600: #02516f;
  --white: #fff;
  --black: #000;
  --gray-300: #f4f9fb;
  --gray-400: #d1dee4;
  --gray-500: #a4b0b6;
  --gray-600: #828a8d;
  --gray-700: #464646;
  --gray-800: #011016;

  /* Fonts */
  --font-poppins: 'Poppins', sans-serif;
}

/* General Styles */
body {
  font-family: var(--font-poppins);
  background-color: var(--gray-300);
  color: var(--gray-700);
}

button {
  background-color: var(--primary-color-500);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primary-color-500);
  border-radius: 0.25rem;
  width: max-content;
  font-size: 1.25rem;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: var(--primary-color-400);
}

button:active {
  transform: translateY(3px);
}

.container {
  max-width: 60rem;
  min-width: 25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header Styles */

.header {
  padding: 3rem 0;
  background-color: var(--primary-color-200);
  text-align: center;
}

.page-title {
  font-size: 3.25rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (min-width: 45rem) {
  .main .container {
    flex-direction: row;
  }
}

/* Top Scores Section */
.top-scores-section {
  order: 1;
}

.top-scores-section > .container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: var(--primary-color-200);
  padding-top: 3rem;
  overflow: hidden;
  border-bottom-right-radius: 14%;
  border-bottom-left-radius: 14%;
}

.top-score {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 8rem;
  padding: 1.25rem 0.75rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transform-origin: bottom;
  animation: slide-up 500ms ease-in;
}

.top-score__rank {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: var(--white);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 100%;
  overflow: hidden;
}

.top-score__user {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--gray-800);
}

.top-score__score {
  font-weight: 600;
  color: var(--white);
}

.top-score__first {
  background-color: var(--primary-color-500);
  order: 2;
  height: 20rem;
  transition: transform 0.3s ease-in-out;
}

.top-score__first:hover {
  transform: scale(1.06);
}

.top-score__first > .top-score__score {
  font-size: 2.25rem;
}

.top-score__second {
  background-color: var(--primary-color-400);
  margin-top: 3rem;
  height: 17rem;
  order: 1;
  transition: transform 0.3s ease-in-out;
  animation-delay: 50ms;
}

.top-score__second:hover {
  transform: scale(1.04);
}

.top-score__second > .top-score__score {
  font-size: 1.5rem;
}

.top-score__third {
  background-color: var(--primary-color-300);
  margin-top: 6rem;
  height: 14rem;
  order: 3;
  transition: transform 0.3s ease-in-out;
  animation-delay: 150ms;
}

.top-score__third:hover {
  transform: scale(1.03);
}

.top-score__third > .top-score__score {
  font-size: 1.5rem;
}

/* Recent Scores Section */
.scores-section {
  order: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 44rem;
  width: 65vw;
}

.scores__header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  min-width: max-content;
}

.scores__title {
  font-size: 2rem;
}

.scores__table {
  border: 4px solid #000;
}

.scores__table__row {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.0625rem;
}

.scores__table__row:nth-child(even) {
  background-color: #ddd;
}

/* Add Score Section */

.add-score-section {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-score__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.add-score__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40rem;
}

.add-score__form__label {
  position: relative;
  background-color: var(--gray-300);
}

.add-score__form__label > span {
  position: absolute;
  background-color: var(--gray-300);
  padding: 0 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  transition: transform 150ms ease-in;
}

.add-score__form__label > span.float-label {
  transform: translateY(-1.5rem);
}

.add-score__form__input {
  border: 1px solid var(--gray-700);
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-width: 15rem;
  width: 100%;
  background-color: var(--gray-300);
}

.add-score__form__btn {
  width: 100%;
}

/* Animations */

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
